{% import '@SyliusShop/Common/Macro/breadcrumbs.html.twig' as breadcrumbs %}

{% set order_number %}
    <span id="number" {{ sylius_test_html_attribute('order-number') }}>#{{ order.number }}</span>
{% endset %}

{{ breadcrumbs.default({
    homepage: {label: 'sylius.ui.home'|trans, url: path('sylius_shop_homepage')},
    account_dashboard: {label: 'sylius.ui.my_account'|trans, url: path('sylius_shop_account_dashboard')},
    account_order_index: {label: 'sylius.ui.order_history'|trans, url: path('sylius_shop_account_order_index')},
    account_order_show: {label: 'sylius.ui.order'|trans ~ order_number}
}) }}
