{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<h5>
    <span class="badge text-bg-light" {{ sylius_test_html_attribute('shipping-method-fee') }}>{{ money.convertAndFormat(fee) }}</span>
</h5>
