{% if data == 'create' %}
    <span class="badge text-bg-secondary">
        <i class="bi bi-plus"></i>
        {{ 'sylius.ui.created'|trans }}
    </span>
{% elseif data == 'update' %}
    <span class="badge text-bg-secondary">
        <i class="bi bi-pencil"></i>
        {{ 'sylius.ui.updated'|trans }}
    </span>
{% endif %}
