{% include '@SyliusShop/Common/Order/_addresses.html.twig' %}
{% include '@SyliusShop/Common/Order/_table.html.twig' %}

<div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
    <div class="col">
        {% include '@SyliusShop/Common/Order/_payments.html.twig' %}
    </div>
    <div class="col">
        {% include '@SyliusShop/Common/Order/_shipments.html.twig' %}
    </div>
</div>
