{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

<div class="mb-3" id="sylius-product-out-of-stock" {{ sylius_test_html_attribute('product-out-of-stock') }}>
    {{ messages.info('sylius.ui.out_of_stock'|trans) }}
</div>
