<div class="row mb-3">
    <div class="col">
        {% include '@SyliusShop/Product/Show/Tabs/_menu.html.twig' %}
        {% include '@SyliusShop/Product/Show/Tabs/_content.html.twig' %}
    </div>
</div>
