<div class="col-auto">
    <h4 class="fw-bold">{{ 'sylius.ui.payment_methods'|trans }}</h4>
    <div class="display-4">
        <abbr title="mastercard"><i class="bi bi-credit-card me-2"></i></abbr>
        <abbr title="visa"><i class="bi bi-credit-card-2-front me-2"></i></abbr>
        <abbr title="paypal"><i class="bi bi-paypal"></i></abbr>
    </div>
</div>
