<div class="col-auto">
    <a href="https://sylius.com/plus" target="_blank" class="d-inline-block text-body-secondary text-decoration-pseudo">
        <ul class="list-unstyled text-center">
            <li class="text-white-50 fw-bold">Need even more features?</li>
            <li class="text-white">Check Sylius Plus out!</li>
            <li>
                <img class="img-fluid" style="max-width: 170px;" src="{{ use_webpack ? asset('build/shop/images/sylius-plus-banner.png', 'shop') : asset('assets/shop/img/sylius-plus-banner.png') }}" alt="Sylius Plus">
            </li>
        </ul>
    </a>
</div>
