<div class="row mt-3">
    <div class="col">
        <a class="btn btn-outline-sylius" href="{{ path('sylius_shop_product_review_create', {'slug': app.request.get('slug')}) }}">
            <i class="bi bi-journal-plus"></i> {{ 'sylius.ui.add_your_review'|trans }}
        </a>
    </div>
</div>
