{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="col-auto">
    <div class="row bg-body-tertiary rounded shadow px-2 pt-2 g-2">
        <div class="col">
            {{ form_row(form.from, {
                label: 'sylius.ui.date_filter',
                label_translation_parameters: {'%label%': filter.label|trans, '%altLabel%': form.from.vars.label|trans}
            }) }}
        </div>
        <div class="col">
            {{ form_row(form.to) }}
        </div>
    </div>
</div>
