{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="col-auto">
    <div class="row bg-body-tertiary rounded shadow px-2 pt-2 g-2">
        <div class="col">
            {{ form_row(form, {'label': filter.label}) }}
        </div>
    </div>
</div>
