<div class="row">
    <div class="col">
        <button
            type="submit"
            name="submit-type"
            value="checkout"
            class="btn btn-sylius btn-lg w-100"
            form="sylius_cart"
            formaction="{{ path('sylius_shop_cart_checkout') }}"
            formmethod="post"
            {{ sylius_test_html_attribute('cart-checkout-button') }}
        >
            <i class="bi bi-check-lg"></i> {{ 'sylius.ui.checkout'|trans }}
        </button>
    </div>
</div>
