<div class="container-fluid">
    {% include '@SyliusShop/Layout/Footer/Grid/_pre_footer.html.twig' %}
</div>
<div class="container">
    {{ sylius_template_event('sylius.shop.layout.footer') }}
</div>
