<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <button type="submit" class="btn btn-sylius btn-lg" {{ sylius_test_html_attribute('confirmation-button') }}>
            <i class="bi bi-check-lg"></i> {{ 'sylius.ui.place_order'|trans }}
        </button>
    </div>
</div>
