{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="row mt-3">
    <div class="col">
        {{ headers.default('sylius.ui.customer_login'|trans, 'person-check', 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans) }}
    </div>
</div>
