<h4>{{ 'sylius.ui.new_customers'|trans }}</h4>

<a href="{{ path('sylius_shop_register') }}" class="btn btn-outline-sylius btn-lg rounded w-100">
    <i class="bi bi-person-plus"></i>
    {{ 'sylius.ui.create_an_account'|trans }}
</a>
