<div class="col">
    <div class="row justify-content-end">
        <div class="col-auto">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
</div>
