<div class="col">
    <a class="navbar-brand" href="{{ path('sylius_shop_homepage') }}" aria-label="Sylius logo">
        <svg class="wp-150 hp-40" role="img"><use href="#logo-sylius"></use></svg>
    </a>
</div>
