.text-decoration-pseudo {
  @extend .text-decoration-none;
  &:focus,
  &:hover {
    @extend .text-decoration-underline;
  }
}

.error-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-danger);
  --bs-popover-header-bg: var(--bs-danger);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}
