{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="row justify-content-center mb-3">
    <div class="col-10 col-md-9">
        <div class="text-center">
            {{ headers.default(taxon.name, null, taxon.description) }}
        </div>
    </div>
</div>
