{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="row justify-content-center my-4">
    <div class="col-auto">
        {{ headers.caption('sylius.ui.latest_products'|trans, 'chevron-right') }}
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-3" {{ sylius_test_html_attribute('latest-products') }}>
    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 3, 'template': '@SyliusShop/Homepage/_list.html.twig'})) }}
</div>
