$utilities: map-merge(
  $utilities,
  (
    "static-width": (
      property: width,
      class: wp,
      values: (
        10: 10px,
        20: 20px,
        30: 30px,
        40: 40px,
        50: 50px,
        60: 60px,
        70: 70px,
        80: 80px,
        90: 90px,
        100: 100px,
        150: 150px,
        200: 200px,
        250: 250px,
        300: 300px,
        350: 350px,
        400: 400px,
        450: 450px,
        500: 500px,
      ),
    ),
    "static-height": (
      property: height,
      class: hp,
      values: (
        10: 10px,
        20: 20px,
        30: 30px,
        40: 40px,
        50: 50px,
        60: 60px,
        70: 70px,
        80: 80px,
        90: 90px,
        100: 100px,
        150: 150px,
        200: 200px,
        250: 250px,
        300: 300px,
        350: 350px,
        400: 400px,
        450: 450px,
        500: 500px,
      ),
    ),
  ),
);
